.home {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--textColor1);
  width: 100%;
  & > div:not(.home-banner) {
    h1 {
      margin-bottom: 25px;
    }
  }
  .home-banner {
    width: 100%;
    margin: auto;
    min-height: 100vh;
  }
  .hb-presentation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;

    & > section {
      width: 50%;
      z-index: 21;
    }
    .hbp-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px 0;

      h1,
      b,
      section {
        width: 90%;
        margin: 0;
      }
      h1 {
        font-size: 8vh;
        margin-bottom: 25px;
      }
      b {
        font-size: 7vh;
      }
    }
    .hbp-image {
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        background-color: $secondaryColor;
        clip-path: polygon(50% 0, 100% 0, 100% 80%, 0% 100%);
        height: 140vh;
        width: 70vw;
        z-index: -1;
        right: 0;
      }
      img {
        background-color: $primaryColor;
        margin: auto;
        width: 80%;
        border-radius: 50px;
        height: 90%;
        transform: rotate(-4deg);
        transition: all 0.5s;
        &:hover {
          transform: rotate(0) scale(1.1);
        }
      }
    }
  }
  .hpp-contactBtn {
    display: flex;
    gap: 0 20px;
  }
}

.home-methodology {
  width: 90%;
  margin: 75px auto;
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 75px;
  }
  .methodologyCard {
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 85px 30px 25px 30px;
    border-radius: 12px;
    &:hover {
      background-color: $primaryColor;
      span {
        background-color: var(--bgColor);
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
          rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      }

      h3,
      p {
        color: var(--bgColor);
      }
    }

    h3,
    p {
      z-index: 55555555;
      color: var(--textColor1);
    }
    p {
      position: relative;
    }

    span {
      background-color: $primaryColor;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -40px;
      left: 25px;
      color: var(--textColor1);
      font-size: 50px;
    }

    h3 {
      position: relative;
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 512px) {
  .hpp-contactBtn a {
    font-size: 14px;
    padding: 8px 15px;
  }
  .hb-presentation {
    // flex-direction: column-reverse;
    & > section {
      width: 100% !important;
    }
    .hbp-text {
      order: 2;
    }
    .hbp-image {
      order: 1;
      height: 60vh !important;
      &::after {
        background-color: transparent !important;
      }
      img {
      }
    }
  }
}
