/* Compétence  */
.home-skill {
  width: 90%;
  color: white;
  // margin: 150px auto;
  margin-bottom: 150px;
  .skillList{
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    article{
      min-width: 20%;
      max-width: 35%;
      // cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bgColor);
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      gap: 0 10px;
      padding: 5px 10px;
      border-radius: 10px;
      transition: all .5s;
  
      &:hover{
        transform: scale(1.2);
        background-color: $secondaryColor;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        b{
          color: white;
        }
      }
      svg{
        font-size: 50px;
        width: 20%;
      }
      b{
        font-size: 30px;
        color: var(--textColor1);
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .home-skill {
    margin-bottom: 100px;
    .skillList{
      padding: 10px;
      article{
        max-width: 48%;
        // padding: 6px 15px;
        svg{
          font-size: 20px;
        }
        b{
          font-size: 20px;
        }
      }
    }
  }
  
}
