/* Compétence  */
.home-skill {
  width: 90%;
  color: white;
  .skillList{
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    article{
      min-width: 20%;
      max-width: 35%;
      cursor: pointer;
      display: flex;
      align-items: center;
      // justify-content: center;
      gap: 0 10px;
      background-color: var(--secondaryColor);
      padding: 5px 10px;
      border-radius: 10px;
      filter: grayscale(600);
      opacity: 0.5;
      transition: all .5s;
      color: grey;
      &:hover{
        opacity: 1;
        filter: none;
        background-color: var(--secondaryColor);
      }
      svg{
        font-size: 50px;
        width: 20%;
      }
      b{
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .home-skill {
    .skillList{
      padding: 10px;
      article{
        max-width: 48%;
        // padding: 6px 15px;
        svg{
          font-size: 20px;
        }
        b{
          font-size: 20px;
        }
      }
    }
  }
  
}
